<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
</head>

<script>
function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}

function newStream(e, btn) {
    var src = btn.href;
    var splitHref = src.split("/");
    var length = splitHref.length;
    var el = document.querySelector("img[src=\"/"+ splitHref[length - 2] + "/" + splitHref[length -1] + "\"]");
    el.src = "";
    window.open(src+"?dummy="+getRandomInt(1000));
    e.preventDefault();
}
</script>

<body>

{% block content %}

{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
<script type="text/javascript">



</script>
</body>
</html>
