{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div>
            <h3 class="mt-5">Live Streaming</h3>

            <table class="table">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th>
                        <a href="/camera_0/live.mjpg" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Camera 1</a>
                    </th>
                    <th>
                        <a href="/camera_1/live.mjpg" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Camera 2</a>
                    </th>
                    <th>
                        <a href="/camera_2/live.mjpg" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Camera 3</a>
                    </th>
                </tr>
                <tr>
                  <th scope="row">
                      <img src="/camera_0/live.mjpg" >
                  </th>
                  <td>
                       <img src="/camera_1/live.mjpg">
                  </td>
                  <td>
                       <img src="/camera_2/live.mjpg">
                  </td>
                </tr>
                <tr>
                    <th>
                        <a href="/camera_3/live.mjpg" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Camera 4</a>
                    </th>
                    <th>
                        <a href="/camera_4/live.mjpg" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Camera 5</a>
                    </th>
                    <th>
                        <a  href="/camera_5/live.mjpg" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Camera 6</a>
                    </th>
                </tr>
                <tr>
                  <td>
                       <img src="/camera_3/live.mjpg">
                  </td>
                    <td>
                       <img src="/camera_4/live.mjpg">
                  </td>
                    <td>
                       <img src="/camera_5/live.mjpg">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                       <th scope="row">This block for usefull information of duckietown</th>
                  </td>
                  <td>
                       <th scope="row">{{text|safe}}</th>
                  </td>
                </tr>  
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
